/* Add all yout CSS formatting here */
body {
    background-color: pink; 
}

h1, h2{color:blue;text-align:center}
header{background-color: wheat;
padding:5px;}
img{background-color:white;}
.image-right{float: right;}
.right{text-align:right; color:navy}
.left{text-align:left;color:navy}

 p {color: rgb(41, 13, 128); text-align:center;padding:5px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:bisque}

.container {
    background-color: red;
}

